<!--About-->
<section id="about">
  <div class="content-wrap">
    <h1>About me</h1>
    <div class="about-grid">
      <div class="aboutimage">
        <img src="img/me.jpg">
      </div>
      <article class="about-content">
        <p>
          I am a sixth year PhD candidate in the <a href="http://www.astro.ucla.edu/" target="_blank">Divison of Astronomy & Astrophysics</a> at the University of California, Los Angeles.
          I earned my bachelor's degrees in physics and mathematics at the University of Southern California in 2015.
          The overarching goal of my research is to understand black hole and host galaxy co-evolution using a unique combination of gravitational lensing and modeling of reverberation mapping data.
          Much of this work has been done as part of the <a href="https://www.physics.uci.edu/~barth/lamp.html" target="_blank">Lick AGN Monitoring Project</a>, <a href="https://archive.stsci.edu/hlsp/storm" target="_blank">AGN Space Telescope and Optical Reverberation Mapping Project</a>, and <a href="http://strides.astro.ucla.edu/" target="_blank">STRong-lensing Insights into the Dark Energy Survey</a> collaborations.
        </p>
        <p>
          In addition to research, I help run the <a href="http://www.astro.ucla.edu/planetarium/" target="_blank">UCLA Planetarium</a> on campus.
          Come check out one of our free virtual shows if you'd like to learn more about astronomy!
        </p>
      </article>
    </div>
  </div>
</section>