<!--NavigationBar-->
<nav id="nav-bar" class="navbar navbar-expand-lg navbar-light">
  <div>
    <a class="navbar-brand" href="#"><img src="img/coffee_bean.jpg">Peter R. Williams</a>
    <a class="navbar-links" href="https://github.com/peterrwi" target="_blank"><img src="img/GitHub-Mark-64px.png"></a>
    <a class="navbar-links" href="https://ui.adsabs.harvard.edu/search/q=author%3A%22Williams%2C%20Peter%20R.%22&sort=date%20desc%2C%20bibcode%20desc&p_=0" target="_blank"><img src="img/adslogo.svg"></a>
    <a class="navbar-links" href="mailto: pwilliams@astro.ucla.edu" target="_blank"><img src="img/email.png"></a>
  </div>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#research">Research</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#publications">Publications</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle disabled" href="#projects" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Projects</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Project 1</a>
          <a class="dropdown-item" href="#">Project 2</a>
          <a class="dropdown-item" href="#">Project 3</a>
        </div>
      </li>
    </ul>
  </div>
</nav>