<!--Publications-->
<section id="publications">
  <div class="content-wrap">
    <h1>Publications</h1>
    <div class="publications-grid">
      <h5>Papers on modeling the broad emission line region</h5>
      <ul>
        <li> <b>P. R. Williams</b>, A. Pancoast, T. Treu, et al., <i>"Space Telescope and Optical Reverberation Mapping Project. XII. Broad-Line Region Modeling of NGC 5548,"</i> 2020, <a href="https://ui.adsabs.harvard.edu/abs/2020ApJ...902...74W" target="_blank">ApJ, 902, 74</a></li>
        <li>S. I. Raimundo, M. Vestergaard, M. R. Goad, C. J. Crier, <b>P. R. Williams</b>, et al., <i>"Modelling the AGN broad line region using single-epoch spectra II. Nearby AGNs,"</i> 2019, <a href="https://ui.adsabs.harvard.edu/abs/2020MNRAS.493.1227R" target="_blank">MNRAS, 493, 1227-1248</a></li>
        <li>S. W. Mangham, C. Knigge, <b>P. R. Williams</b>, et al., <i>"Do Reverberation Mapping Analyses Provide an Accurate Picture of the Broad Line Region?"</i> 2019, <a href="https://ui.adsabs.harvard.edu/abs/2019MNRAS.488.2780M" target="_blank">MNRAS, 488, 2780-2799</a></li>
        <li><b>P. R. Williams</b>, A. Pancoast, T. Treu, et al., <i>"The Lick AGN Monitoring Project 2011: Dynamical Modeling of the Broad-line Region,"</i> 2018, <a href="https://ui.adsabs.harvard.edu/abs/2018ApJ...866...75W" target="_blank">ApJ, 866, 75</a></li>
      </ul>
      <h5>Papers on lensed quasar searches</h5>
      <ul>
        <li><b>P. R. Williams</b>, A. Agnello, T. Treu, et al., <i>"Discovery of three strongly lensed quasars in the Sloan Digital Sky Survey,"</i> 2018, <a href="http://ui.adsabs.harvard.edu/abs/2018MNRAS.477L..70W" target="_blank">MNRAS Letters, 477, L70-L74</a></li>
        <li><b>P. R. Williams</b>, A. Agnello, T. Treu, et al., <i>"Population mixtures and searches of lensed and extended quasars across photometric surveys,"</i> 2017, <a href="http://ui.adsabs.harvard.edu/abs/2017MNRAS.466.3088W" target="_blank">MNRAS, 466, 3088-3102</a></li>
      </ul>
      <h5>Visit <a href="https://ui.adsabs.harvard.edu/search/q=author%3A%22Williams%2C%20Peter%20R.%22&sort=date%20desc%2C%20bibcode%20desc&p_=0" target="_blank">ADS<a> for a complete list of my publications</h5>
    </div>
  </div>
</section>