<!--Research-->
<section id="research">
  <div class="content-wrap">
    <h1>Research</h1>
    <article class="research-grid img-left">
      <figure class="researchimage">
        <img src="img/geometries.png">
      </figure>
      <div class="research-content">
        <h2>Reverberation mapping</h2>
        <p>
          The tight correlations observed between supermassive black hole masses and their host galaxy properties may hold the answers to many astrophysical questions, but these analyses require precise black hole mass measurements.
          Mass measurements from the orbits of gas and stars in the BH sphere of influence are only possible in the local universe, so the technique of reverberation mapping is used to measure BH masses in AGN at larger distances.
          Reverberation mapping utilizes the broad emission line region, a region of gas that is photoionized by continuum radiation and re-emits in the form of emission lines that are broadened due to the doppler effect.
          By monitoring the AGN spectrum over time, one can observe the broad emission lines vary in response to changes in  continuum fluctuations, but after a time-lag.
          Using the width of the emission line as a proxy for the gas velocity, combined with the time-lag, one can measure the black hole mass, up to a scale factor of order unity.
          An average scale factor is typically used, found by calibrating to the local M-sigma relation, but this leads to an uncertainty of ~0.4 dex on individual black hole mass measurements.
        </p>
        <p>
          In my research, I use the code <a href="https://annapancoast.wordpress.com/caramel/" target="_blank">CARAMEL</a> to model the broad emission line region directly.
          By modeling the BLR, we can measure black hole masses without any assumptions of a scale factor value.
          Using this method, we can measure black hole masses with an uncertainty of only ~0.2 dex, while also learning about the geometry and dynamics of the broad line emitting gas.
          The modeling results for seven AGN in the the Lick AGN Monitoring Project 2011 sample are presented by <a href="https://ui.adsabs.harvard.edu/abs/2018ApJ...866...75W">Williams et al. 2018b</a>.
        </p>  
      </div>
    </article>
    <article class="research-grid img-left">
      <figure>
        <img src="img/confirmedlenses.png">
      </figure>
      <div class="research-content">
        <h2>Lensed quasar hunting</h2>
        <p>
          The phenomenon of gravitational lensing occurs when a massive object falls along our line of sight to a more distant light source.
          Since gravity can deflect light, the image of the distant source gets distorted as it makes its way to our telescopes.
          A special case of this is strong gravitational lensing when a bright, distant quasar is lensed by a foreground massive galaxy, resulting in multiple magnified images of the same quasar.
          Quasars are some of the brightest objects in the universe, and when they are lensed, they serve as phenomenal tools for studying a wide range of the univere's life.
          However, the unique alignment required makes these objects very rare on the night sky, and current progress is limited by the small number of known lenses.
        </p>
        <p>
          Modern wide-field surveys with images of billions of night-sky objects should contain many new lenses for discovery, but finding them is a classic needle-in-a-haystack problem.
          In my research, I use gaussian mixture models to conduct photometry-based searches for lenses using data from the Sloan Digital Sky Survey (SDSS), the Wide-field Infrared Survey Explorer (WISE), and the VLT Survey Telescope (VST) ATLAS. 
          The search methods are discussed by <a href="http://ui.adsabs.harvard.edu/abs/2017MNRAS.466.3088W">Williams et al. 2017</a>, and the results of the follow-up campaign are given by <a href="http://ui.adsabs.harvard.edu/abs/2018MNRAS.477L..70W">Williams et al. 2018a</a>, including the discovery of three new lenses.
        </p>
      </div>
    </article>
  </div>
</section>