<!--Research-->
<section id="research">
  <div class="content-wrap">
    <h1>Research</h1>
    <h2>Reverberation mapping</h2>
        <p>
          We think that most if not all galaxies host supermassive black holes at their centers that are millions to billions of times the mass of the Sun.
          Observations show that the black holes are tied to their host galaxies' growth, but the physical mechanisms behind the connection are uncertain, and we need precise black hole mass measurements to discern between different scenarios.
          Outside of the local Universe, we target black holes that are actively accreting material and emitting bright light that can be seen from billions of light years away.
          Some of these "active galactice nuclei" (AGNs) also show signs of fast-orbiting gas that produces emission lines that are broadened by the Doppler effect.
          Using a technique called reverberation mapping, we can observe "light echoes" in this this so-called broad line region (BLR) and use them to compute the black hole mass.
        </p>
        <p>
          Since AGNs are so far away, we can't spatially resolve the BLR even with the most powerful telescopes, and the uncertain nature of the BLR introduces additional uncertainty in black hole mass measurements.
          In my research, I use the code <a href="https://annapancoast.wordpress.com/caramel/" target="_blank">CARAMEL</a> to model the BLR directly.
          Using this method, we can reduce mass measurement uncertainties while also learning about the BLR structure and kinematics.
          Below are a few of the reverberation mapping projects I've applied this method to.
        </p>

    <article class="research-grid img-left">
      <figure class="researchimage">
        <img src="img/vrlags.png">
      </figure>
      <div class="research-content">
        <h4>A once in a lifetime opportunity</h4>
        <p>
          Reverberation mapping measurements in the distant universe are extraordinarily difficult due to the bright sources required, cosmological time dilation, and a number of other factors.
          Gravitational lensing, resulting from the chance alignment of an AGN with a foreground massive object, can solve all of these issues simultaneously.
          In June 2016, we embarked on a multi-year monitoring campaign of the sextuply imaged quasar SDSS J2222+2745, lensed by a foreground galaxy cluster.
          The lensing time delays and magnifications along with the extreme variability of the quasar offered a unique opportunity to make a black hole mass measurement at redshift $z=2.805$ (~2 billion years after the Big Bang).
        </p>
        <p>
          In <a href="https://ui.adsabs.harvard.edu/abs/2018ApJ...866...75W">Williams et al. 2021a</a>, I presented the first results of the monitoring campaign.
          We examined the broad C IV emission line and measured lags (the light echo time) for different parts of the emission line (shown to the left).
          These measurements tell us that the BLR gas is dominated by near-circular orbital motion, and give a black hole mass around 400 million solar masses.
          In Williams et al. 2021b, I will present the BLR modeling results.
        </p>
      </div>
    </article>

    <article class="research-grid img-right">
      <div class="research-content">
        <h4>A first measurement of the UV broad line region</h4>
        <p>
          The AGN Space Telescope and Optical Reverberation Mapping (<a href="https://archive.stsci.edu/hlsp/storm" target="_blank">AGN STORM</a>) campaign monitored NGC 5548 using both ground- and space-based telescopes.
          The spectra spanned X-ray to optical wavelengths, enabling measurements of both the high- and low-energy BLRs.
          In <a href="https://ui.adsabs.harvard.edu/abs/2020ApJ...902...74W">Williams et al. 2020</a>, I modeled the data for two UV emission lines, C IV and Ly$\alpha$, and one optical emission line, H$\beta$.
          This was the first AGN for which we could model multiple emission lines as well as the first modeling results for the UV-emitting BLR.
        </p>
        <p>
          To the right are possible geometries of the three BLRs, with edge-on views in the left-hand panels and face-on views in the right-hand panels.
          C IV is shown in orange, Ly$\alpha$ in green, and H$\beta$ in blue.
          We found that all three BLRs can be described by inclined thick disks, but the C IV and Ly$\alpha$ BLRs are more concentrated in shell-like structures.
          We also found radial stratification of the BLR, with the UV BLRs occupying smaller radii than the H$\beta$ BLR.
          This has been observed using emission line lag measurements, but had never before been demonstrated using 3D models.
        </p>
      </div>
      <figure class="researchimage">
        <img src="img/agnstorm.png">
      </figure>
    </article>

    <article class="research-grid img-left">
      <figure class="researchimage">
        <img src="img/geometries.png">
      </figure>
      <div class="research-content">
        <h4>Doubling the sample of BLR models</h4>
        <p>
          The Lick AGN Monitoring Project (<a href="https://www.physics.uci.edu/~barth/lamp.html" target="_blank">LAMP</a>) is a series of reverberation mapping campaigns conducted at Lick Observatory targeting the broad H$\beta$ emission line.
          In <a href="https://ui.adsabs.harvard.edu/abs/2018ApJ...866...75W">Williams et al. 2018b</a>, I modeled the data for seven AGNs in the LAMP 2011 sample.
          At the time, only eight AGNs had been analyzed using the modeling approach, so this nearly doubled the sample of modeled BLRs.
          The geometrires were consistent with previous modeling results, demonstrating some consistency across all BLRs, but we found more variety in gas kinematics than had previously been observed.
        </p>
        <p>
          Using the new sample, I explored possible correlations between various observable AGN properties and BLR model parameters.
          Since not all AGNs have data good enough for BLR modeling, the existence of a correlation would provide a quick way to infer BLR properties and could improve virtually all black hole mass measurements.
          While we found some evidence of correlations, solidifying them will require increasing the modeled sample further.
        </p>
      </div>
    </article>

    <h2>Lensed quasar hunting</h2>
    <p>
      The phenomenon of gravitational lensing occurs when a massive object falls along our line of sight to a more distant light source.
      Since gravity can deflect light, the image of the distant source gets distorted as it makes its way to our telescopes.
      A special case of this is strong gravitational lensing which occurs when a bright, distant quasar is lensed by a foreground massive galaxy, resulting in multiple magnified images of the same quasar.
      Quasars are some of the brightest objects in the universe, and when they are lensed, they serve as phenomenal tools for studying the Universe both in its infancy and in its more recent history.
      Unfortunately, the unique alignment required makes these objects very rare on the night sky, and current research progress is limited by the small number of known lenses.
    </p>
    <article class="research-grid img-left">
      <figure>
        <img src="img/psfsubtraction.png" style="width:50%">
      </figure>
      <div class="research-content">
        <h4>A needle in a haystack</h4>
        <p>
          Modern wide-field surveys have imaged large swaths of the night sky and contain images and data for billions of astronomical objects.
          Hidden in the data could be many undiscovered lenses, but finding them is a classic needle-in-a-haystack problem.
          In <a href="http://ui.adsabs.harvard.edu/abs/2017MNRAS.466.3088W">Williams et al. 2017</a>, I used machine learning techniques to sort through data from the Sloan Digital Sky Survey (SDSS), the Wide-field Infrared Survey Explorer (WISE), and the VLT Survey Telescope (VST) ATLAS. 
          Using known lenses as well as simulated lenses, we trained a Gaussian Mixture Model to identify lenses based solely on their photometry (brightness in different colors), and applied the model to the full surveys to produce prioritized lists of lens candidates.
        </p>
        <p>
          After selecting the most promising candidates, we spent multiple nights with the telescopes at Keck Observatory to obtain high-resolution images and spectra.
          From the follow-up campaign, we discovered three new lenses, described in <a href="http://ui.adsabs.harvard.edu/abs/2018MNRAS.477L..70W">Williams et al. 2018a</a>.
          To the left is one of the lenses&mdash;the two bright points in the top panel are images of the same background quasar.
          Subtracting the bright light of the quasars reveals the dimmer lens galaxy in the center as well as an "Einstein ring."
        </p>
      </div>
    </article>
  </div>
</section>